.statistics {
	&--hidden {
		display: none;
	}
}

.statistics__top {
	display: flex;
	align-items: flex-end;
}

.statistics__picture {
	margin: 0 6px 0 0;
}

.statistics__text {
	font-size: 13px;
	line-height: 15.83px;
	margin: 0;
	font-weight: $light;
}

.statistics__link {
	font-weight: $semibold;
}

.statistics__button {
	@include h5;
	display: flex;
	align-items: center;
	font-size: 13px;
	padding: 0;
	margin-left: auto;
	background-color: $transparent;
	border: none;
	cursor: pointer;
}

.statistics__button-icon {
	margin: 0 0 0 7.5px;
}