/* font family */
$primary-font: "Proxima Nova", "Arial", "sans-serif";
$secondary-font: "Anonymous Pro", "Arial", "sans-serif";

/* font weight */
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

/* colors */
$white-color: #ffffff;
$black-color: #000000;
$transparent: transparent;
